<!-- Footer -->
<footer class="page-footer font-small fback pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left " style="padding-top:5%;">

    <!-- Grid row -->
    <div class="row align-item-center justify-content-center">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 justify-content-center align-item-center text-center">

        <!-- Content -->

        <p>Enjoys to try our faces Recognition App.<br>
          You can Contibute to perform the source code or to add other functionalities <br>
        You can finf all source code in out  <a href="#"> Gitub</a> </p>
        <span style="margin-right: 3%;"> <i class="fab fa-github" style="font-size: 2.5rem; color:#060317;"></i> </span>
        <span style="margin-left: 3%;"> <i class="fab fa-codepen" style="font-size: 2.5rem;color:#060317;"></i> </span>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Internal Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Image Recognition</a>
            </li>
            <li>
              <a href="#!">Camera Recognition</a>
            </li>
            <li>
              <a href="#!">Faces Comparison</a>
            </li>
            <li>
              <a href="#!">Faces DataBase</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Usefuls External Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Face Azure API </a>
            </li>
            <li>
              <a href="#!">AngularFire2</a>
            </li>

          </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> FivePoint The talent Pool</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
