
<div class="row justify-content-center align-item-center myContainer ">

<nav class="navbar navbar-expand-lg navbar-light  navv" style="height:18%;">
  <a class="navbar-brand" routerLink="cam"><span style="font-size:2.5rem; color:#060317; margin-right: 5%;">Faces Recognition </span>
    <p style="text-align: center; font-size: 0.8rem;">(By Talent Pool Students Team)</p>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active"  routerLinkActive="active">
        <a class="navbar-brand js-scroll-trigger" routerLink="/home/face2" href="#faceDetection" style="font-size:1.2rem;color:#060317;">Images Recognition<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home/cam" style="font-size:1.2rem;color:#060317;">Camera Recognition </a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link " routerLink="/home/compare" style="font-size:1.2rem; color:#060317;">Faces Comparison</a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link " routerLink="/home/facedatabase" style="font-size:1.2rem; color:#060317;">Faces DataBase</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">

     
    </form>
  </div>
</nav>


  <div class="carte">
    <div class=row>

      <img class="rounded mx-auto d-block" src="../../assets/téléchargement.png" style="width:40%; height:60%; margin:5%;">

    </div>
    <div class="row align-item-center justify-content-center" style="padding-bottom:3%;">
    <button class="button"> Try Now </button>
  </div>
  </div>
</div>
<div class="row justify-content-center align-item-center myContainer " style="background-image: none; background-color:lightgray; padding-top: 0%;">
  <div class="logos">
    <div class="row justify-content-center align-item-center">
      <div class="col-12  justify-content-center align-item-center text-center" style="padding-top:2%; padding-bottom:2%; padding-left:10%">

        <span> <i class="fas fa-user-tie" style="font-size: 2rem; color:aliceblue; "></i> </span>
        <span> <i class="fas fa-camera-retro" style="font-size: 2rem; color:aliceblue;"></i> </span>
        <span> <i class="fas fa-clone" style="font-size: 2rem; color:aliceblue;"></i> </span>

      </div>
    </div>
  </div>
</div>

<div class="row " style="background-image: none; background-color:lightgray; padding-top: 2%;">
<h3 style="margin-left:auto; margin-right:auto;">Discover Our Api Service </h3>
  
<div class="row" style="padding-top:2%; padding-bottom:5%; ">
  
    <div class="col-lg-4 col-md-4 col-sm-2 col-10 text-center">
        <img class="rounded-circle mx-auto d-block imgcircle" src="../../assets/frommehtough.png" style="width:30%; height:90%; border:2px,solid,#060317;" >
        <a class="nav-link " routerLink="/home/face2" style="font-size:1.2rem; margin-bottom: 2%; color:#060317;"> Azure API Image Recognition </a>

    </div>
  <div class="col-lg-4 col-md-4 col-sm-2 col-10 text-center ">
      <img class="rounded-circle mx-auto d-block imgcircle" src="../../assets/microsoft-azure-face-api-564x400.jpg" style="width:30%; height:90%; border:2px,solid,#060317;" >
      <a class="nav-link " routerLink="/home/cam" style="font-size:1.2rem; color:#060317;"> Azure API Cam Detect </a>

  </div>
  <div  class="col-lg-4 col-md-4 col-sm-8 col-10 text-center ">
      <img class="rounded-circle mx-auto d-block imgcircle" src="../../assets/1-face-detection.jpg" style="width:30%; height:90%; border:2px,solid,#060317;" >
      <a class="nav-link " routerLink="/home/compare" style="font-size:1.2rem; color:#060317;"> Azure API Faces Compare </a>



    </div>
  </div>

</div>
<script src="js/scrolling-nav.js"></script>
