.cont{
    background-image: url('../../../assets/Abstract-Convex-circle-spheres-HD-background-animation-light-reveal-3-blue-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}


.div{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #FFFFFF;
  width: 100%;
  margin: 1%;
  padding: 1%;
  color: whitesmoke;
  background-color: rgba(116,120,125,0.8);
}
.true{
  font-size: 2rem;
}

