
<div class="container-fluid text-center cont" style="padding-top: 1%; padding-bottom: 3%;" id="faceDetection">
<div class="row align-item-center justify-content-center" style="padding:1%;">
  <h3 style="color: whitesmoke;"> Image Recognition </h3>
</div>
<div class="row align-item-center justify-content-center">
  <div class="col-6 div" style="margin:1%; padding-bottom: 3%;">

    <h5>Select your first Image:</h5>
    <br>
    <form>
      <input type="file" style="margin-bottom: 2%;" (change)="preview($event)" accept="image/*">
      <br>

        <button type="button" class="btn btn-primary" (click)="capture1(); getData()" style="margin-bottom:2%; padding-left:10%;padding-right:10%;">Face Analyze</button>

      <canvas #mycanvas1 width="600" height="400" style="border:2px solid blue;"> </canvas>
      <canvas #mycanvas2 width="180" height="180" style="border:2px solid blue; display: none;"> </canvas>
    </form>

  </div>
  <!-- Display General Info-->
  <div class="col-4 div" style="margin-left:5%;">
    <h4>General Data Info:</h4>
    <hr  width="50%" color="midnightblue" size="3"> 
    <h6>Number of Person in this image: {{personNumber}} </h6>
    <h6><i class="fas fa-mars" style="font-size: 2rem; color:aliceblue;"></i> Male: {{personMale}}</h6>
    <h6><i class="fas fa-venus" style="font-size: 2rem; color:aliceblue;"></i> Female: {{personFemale}}</h6>
    <h6><i class="fas fa-child" style="font-size: 2rem; color:aliceblue;"> </i> Children <span> (Under 16 years)</span>:
      {{personChildren}}</h6>
    <h6>Global Emotion:</h6>
    <div class="row">

      <div class="col-4 justify-content-center align-item-center text-left" style="margin-left:7%;">
        <h6> <i class="fas fa-smile-beam" style="font-size: 1.5rem; color:aliceblue;"></i> Happiness:</h6>
      </div>
      <div class="col-5" style="padding-top:2%;">
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar " [ngStyle]="{width: percentHapiness+'%'}" aria-valuenow="25"
            aria-valuemin="0"  aria-valuemax="100">{{percentHapiness}}%</div>
        </div>
      </div>
      
    </div>
    <div class="row">

        <div class="col-4 justify-content-center align-item-center text-left" style="margin-left:7%;">
          <h6> <i class="fas fa-meh" style="font-size: 1.5rem; color:aliceblue;"></i> Neutral</h6>
        </div>
        <div class="col-5" style="padding-top:2%;">
          <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{width: percentNeutral+'%'}" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100">{{percentNeutral}}%</div>
          </div>
        </div>
      </div>
    <div class="row">

      <div class="col-4 justify-content-center align-item-center text-left" style="margin-left:7%;">
        <h6> <i class="fas fa-surprise" style="font-size: 1.5rem; color:aliceblue;"></i> Surprise:</h6>
      </div>
      <div class="col-5" style="padding-top:2%;">
        <div class="progress">
          <div class="progress-bar  bg-warning" role="progressbar" [ngStyle]="{width: percentSurprise+'%'}" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100">{{percentSurprise}}%</div>
        </div>
      </div>
    </div>
   
    <div class="row">

      <div class="col-4 justify-content-center align-item-center text-left" style="margin-left:7%;">
        <h6><i class="fas fa-sad-tear" style="font-size: 1.5rem; color:aliceblue;"></i> Sadness:</h6>
      </div>
      <div class="col-5" style="padding-top:2%;">
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': percentSadeness +'%'}" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100">{{percentSadeness}}%</div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-4 justify-content-center align-item-center text-left" style="margin-left:7%;">
        <h6> <i class="fas fa-angry" style="font-size: 1.5rem; color:aliceblue;"></i> Anger:</h6>
      </div>
      <div class="col-5" style="padding-top:2%;">
        <div class="progress">
          <div class="progress-bar bg-secondary" role="progressbar" [ngStyle]="{width: percentAnger+'%'}" aria-valuenow="25"
            aria-valuemin="0"  aria-valuemax="100">{{percentAnger}}%</div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-4 justify-content-center align-item-center text-left" style="margin-left:7%;">
        <h6> <i class="fas fa-sad-cry" style="font-size: 1.5rem; color:aliceblue;"></i> Fear:</h6>
      </div>
      <div class="col-5" style="padding-top:2%;">
        <div class="progress">
          <div class="progress-bar bg-dark" role="progressbar" [ngStyle]="{width: percentFear+'%'}" aria-valuenow="25"
            aria-valuemin="0" aria-valuemax="100">{{percentFear}}%</div>
        </div>
      </div>

    </div>


  </div>
<!-- Display General Info-->

<div class="row align-item-center justify-content-center">
  <div *ngFor="let info of personAge ; let i=index ; let c of captures" style="margin:3%;">
    <div class="card div" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Person{{i+1}}</h5>
        <img [attr.src] ="  captures[i]  " />
        <h6 style="font-size: 0.8rem;"> Face ID:<span style="font-size: 0.6rem;"> {{info.faceId}}</span></h6>
        <h6>Gender: {{info.faceAttributes.gender}}</h6>
        <h6>Age: {{info.faceAttributes.age}}</h6>
        <h6>Glasses: {{info.faceAttributes.glasses}}</h6>
        <h6>Hair Color: {{info.faceAttributes.hair.hairColor[0].color}} (
          {{info.faceAttributes.hair.hairColor[0].confidence*100}} %)</h6>
        <h6> Moustache: {{info.faceAttributes.facialHair.moustache*100}}%</h6>
        <h6> Beard: {{info.faceAttributes.facialHair.beard*100}}%</h6>
        <h6>Face Emotions:</h6>

        <div class="row">
          <div class="col-4 text-right">
            <p style="font-size:1rem;"> Happy:</p>
          </div>
          <div class="col-6">
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{width: (info.faceAttributes.emotion.happiness*100) +'%'}"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{info.faceAttributes.emotion.happiness}}%</div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-4 text-right">
              <p style="font-size:1rem;"> Neutral:</p>
            </div>
            <div class="col-6">
              <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{width: (info.faceAttributes.emotion.neutral*100)+'%'}"
                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{info.faceAttributes.emotion.neutral*100}}%</div>
              </div>
            </div>
          </div>

        <div class="row">
          <div class="col-4 text-right">
            <p style="font-size:0.9rem;"> Surprise:</p>
          </div>
          <div class="col-6">
            <div class="progress  bg-warning">
              <div class="progress-bar" role="progressbar" [ngStyle]="{width: (info.faceAttributes.emotion.surprise*100)+'%'}"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{info.faceAttributes.emotion.surprise*100}}%</div>
            </div>
          </div>
        </div>


       

        <div class="row">
          <div class="col-4 text-right">
            <p style="font-size:0.8rem;"> Sadndess:</p>
          </div>
          <div class="col-6">
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{width: (info.faceAttributes.emotion.sadness*100)+'%'}"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{info.faceAttributes.emotion.sadness*100}}%</div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-4 text-right">
            <p style="font-size:1rem;"> Anger:</p>
          </div>
          <div class="col-6">
            <div class="progress">
              <div class="progress-bar bg-secondary" role="progressbar" [ngStyle]="{width: (info.faceAttributes.emotion.anger*100)+'%'}"
                aria-valuenow="25"  aria-valuemin="0" aria-valuemax="100">{{info.faceAttributes.emotion.anger*100}}%</div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-4 text-right">
            <p style="font-size:1rem;"> Fear:</p>
          </div>
          <div class="col-6">
            <div class="progress">
              <div class="progress-bar  bg-dark" role="progressbar" [ngStyle]="{width: (info.faceAttributes.emotion.fear*100)+'%'}"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{info.faceAttributes.emotion.fear*100}}%</div>
            </div>
          </div>
        </div>



      </div>
    </div>

  </div>
</div>


</div>
</div>

